:root {
  --alabaster: #FAFAFA;
  --frangipani: #FFDCB5;
  --frostee: #EAF7EB;
  --lemon-chiffon: #F9EEAB;
  --sundown: #FFB7BC;
  --white: #FFF;
}

*,
::after,
::before {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.header {

  margin-bottom: 10px;
  height: 309px;
  margin-top: -30px;
  margin-left: -23px;
  margin-right: -23px;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  transition: 0.2s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.box {
  height: 800px;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.footer {
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);

  height: 259px;
  margin-top: -23px;
  margin-left: -23px;
  margin-right: -23px;
}



.footer1 {
  color: aliceblue;
  font-size: 40px;
  font-family: cursive;
  text-align: center;
  border-radius: 20px;
  border-radius: 20px;
  display: flex;
  margin-left: 50px;
  flex-direction: row;
  align-items: center;
  margin-left: 40%;

}

.footer2 {
  color: aliceblue;
  font-size: 20px;
  font-family: cursive;
  text-align: center;
  border-radius: 20px;
  border-radius: 20px;
  display: flex;
  margin-left: 50px;
  flex-direction: row;
}

.box1 {
  text-align: center;
}

.box2 {
  text-align: center;
}

.box3 {
  align-items: center;
  margin-left: 23%;
  height: 500px;
}


.link {
  color: #f81f1f;
  font-size: 20px;
  margin-right: 20px;
  text-align: right;
  margin-top: 100px;
  margin-left: 20px;
}
.container {
  margin-left: 50%;
  margin-top: 30px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0 -80px 0 0;
}

:root {
  --alabaster: #FAFAFA;
  --frangipani: #FFDCB5;
  --frostee: #EAF7EB;
  --lemon-chiffon: #F9EEAB;
  --sundown: #FFB7BC;
  --white: #FFF;
}

*,
::after,
::before {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--alabaster);
  height: 100%;
  width: 100%;
}


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
  max-width: 100%;
  padding: 2.5rem;
  margin-left: 24%;
}

.card {
  align-items: center;
  border-radius: 0.25rem;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 7rem;
  justify-content: center;
  position: relative;
  width: 60%;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    padding: 1rem;
    margin-left: 0;
  }

  .card {
    width: 100%;
    height: 5rem;
  }
}

 
.ball {
  background-color: var(--white);
  border-radius: 50%;
  height: 3rem;
  position: absolute;
  width: 3rem;
}

/* Square */


.square {
  background-color: var(--white);
  height: 5rem;
  width: 5rem;
}
.square-card::before {
  animation: shadow 1.6s ease-in-out infinite both;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  bottom: 2rem;
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.2);
  content: '';
  height: 0.1rem;
  left: 25%;
  position: absolute;
  right: 25%;
}


.down {
  animation: down 1.6s ease-in infinite both;
  bottom: 2rem;
  position: absolute;
}

.down .up {
  animation: up 1.6s ease-in-out infinite both;
}

.down .up .squeeze {
  animation: squeeze 1.6s cubic-bezier(0.72, 0.03, 0.28, 0.97) infinite both;
  transform-origin: 50% 100%;
}

.down .up .squeeze .rotate-in {
  animation: rotate-in 1.6s ease-out infinite both;
}

.down .up .squeeze .rotate-in .rotate-out {
  animation: rotate-out 1.6s ease-in infinite both;
}
.square-card {
  background-color: var(--frostee);
}
@media (max-width: 768px) {
  /* Adjust the styles for smaller screens */
  .ball {
    height: 2rem;
    width: 2rem;
  }

  .square {
    height: 3rem;
    width: 3rem;
  }

  .square-card::before {
    bottom: 1rem;
    left: 15%;
    right: 15%;
  }

  .down {
    bottom: 1rem;
  }
}
@keyframes down {
  0% {
    transform: translateY(-10rem);
  }

  20%,
  100% {
    transform: translateY(0);
  }
}


@keyframes up {

  0%,
  75% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10rem);
  }
}

@keyframes squeeze {

  0%,
  4% {
    transform: scale(1);
  }

  45% {
    transform: scale(1.8, 0.4);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rotate-in {
  0% {
    transform: rotate(-135deg);
  }

  20%,
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate-out {

  0%,
  80% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(135deg);
  }
}

@keyframes shadow {

  0%,
  100% {
    transform: scaleX(0.3);
  }

  45%,
  50% {
    transform: scaleX(0.8);
  }
}

/* End square */

/* Ball bouncing */
.ball-bouncing {
  background-color: var(--lemon-chiffon);
}

.ball-bouncing::before {
  animation: shadowBouncing 1.2s ease-in infinite;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  bottom: 2rem;
  content: '';
  height: 0.15rem;
  position: absolute;
  width: 2rem;
}

.ball-bouncing .ball {
  animation: ballBouncing 1.2s ease-in infinite;
  bottom: 2.1rem;
  transform-origin: bottom;
}

@keyframes ballBouncing {

  0%,
  100% {
    transform: scale(1.5, 0.5);
  }

  20% {
    transform: scaleY(1.2);
  }

  40%,
  80% {
    transform: translateY(-14rem);
  }

  70% {
    transform: translateY(-15rem);
  }

  90% {
    transform: translateY(0);
  }
}

@keyframes shadowBouncing {

  0%,
  100% {
    transform: scale(2, 0.8);
  }

  20% {
    transform: scale(1.2, 0.8);
  }

  40%,
  80% {
    transform: scale(0.5, 0.2);
  }

  70% {
    transform: scale(0.5, 0.15);
  }

  90% {
    transform: scale(1.5, 0.6);
  }
}

/* End ball bouncing */

/* Ball movement */
.ball-movement {
  background-color: var(--frangipani);
  overflow: hidden;
}

.ball-movement::before {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  bottom: 2rem;
  content: '';
  height: 0.15rem;
  left: 2rem;
  position: absolute;
  right: 2rem;
}

.ball-movement .ball {
  animation: ballMovement 1.6s cubic-bezier(0, 0.98, 1, 0.99) infinite;
  bottom: 2.1rem;
  transform: translate(14rem, -15rem) scale(1.2, 0.5);
  transform-origin: bottom;
}

@keyframes ballMovement {
  0% {
    transform: translate(14rem, -15rem);
  }

  15% {
    transform: translate(7rem, 0rem) scale(1.2, 0.5);
  }

  30% {
    transform: translate(2rem, -10rem) scale(1, 1);
  }

  45% {
    transform: translate(-2rem, 0rem) scale(1.2, 0.8);
  }

  60% {
    transform: translate(-5rem, -5.5rem) scale(1, 1);
  }

  75% {
    transform: translate(-8rem, 0rem) scale(1.1, 0.9);
  }

  100% {
    transform: translate(-14rem, -3rem) scale(1, 1);
  }
}

/* End ball movement */

/* Counter */
.counter {
  animation: counter 5s linear infinite alternate;
  background-color: var(--sundown);
  counter-reset: count 0;
}

.counter::before {
  color: var(--white);
  content: counter(count);
  font-size: 7rem;
  line-height: 1.1;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

@keyframes counter {
  0% {
    counter-increment: count 0;
  }

  10% {
    counter-increment: count 1;
  }

  20% {
    counter-increment: count 2;
  }

  30% {
    counter-increment: count 3;
  }

  40% {
    counter-increment: count 4;
  }

  50% {
    counter-increment: count 5;
  }

  60% {
    counter-increment: count 6;
  }

  70% {
    counter-increment: count 7;
  }

  80% {
    counter-increment: count 8;
  }

  90% {
    counter-increment: count 9;
  }

  100% {
    counter-increment: count 10;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  padding: 10px 259px;
  row-gap: 10px;
}

.footer-item {
  display: flex;
  color: #fdf9f9;
  flex-direction: column;
  gap: 15px;
}
a {
  text-decoration: none;
}
a:hover{
  color: burlywood;
}
.foot{
  color: aliceblue;
}

/* End counter */
.trial{
    
  background-color: white;
}
.link {
  color: #f90909;
  font-size: 20px;
  margin-right: 20px;
  text-align: right;
  margin-top: 100px;
  margin-left: 20px;
}
h1 {
  text-align: center;
  color: rgb(12, 0, 0);
  font-weight: bolder;
}

#difficulty-selector {
  text-align: center;
  margin-top: 50px;
}

.difficulty-btn,
        .action-btn {
            margin: 5px;
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            background-color: #3498db;
            color: #fff;
        }
        #options button {
          margin: 5px;
          padding: 10px;
          font-size: 16px;
          cursor: pointer;
          border: none;
          border-radius: 5px;
          background-color: #3498db;
          color: #fff;
          display: block;
          width: 20%;
          margin: auto;
          margin-top: 20px;

      }

        .difficulty-btn:hover,
        button:hover {
            background-color: #2980b9;
            transition: 0.5s ease;
            border: 2px;
            border-color: darkblue;
        }
        #options button:hover {
          background-color: #fff;
          border: solid 1px;
          border-color: darkblue;
          border-radius: 2px;
          color: black;
          transition: 0.6s ease;
      }

.background-image {
  background-image: url('path-to-your-background-image.jpg');
  background-size: cover;
  background-position: center;
  height: 200px; 
}

#quiz-container {
  display: none;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  

}
#score{
  padding-left: 43.5%;
}


#result-container {
  text-align: center;
  margin-top: 100px;
  padding-left: 44.5%;
}
.mt{
  padding-left: 45.5%;
}


#Next-btn{
  margin-left: 46%;
}
#Grade {
  font-size: 24px;
  margin-top: 20px;
  font-weight: bold;
  color: whitesmoke;
}
.action-btn:hover {
  background-color:yellow;
  color: blue;
}
.background-image{
  background-image: url('https://c8.alamy.com/comp/FRRBEP/faq-concept-word-cloud-background-FRRBEP.jpg');
  background-size: cover;
  position: relative;
  margin-top: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(853px, 483px); 
  height: 500px;
  
} 
.background-image-left{
  background-image: url('https://img.poki.com/cdn-cgi/image/quality=78,width=94,height=94,fit=cover,f=auto/254ea214ff9f26ca1ae2d872021643dd.png');
  background-size: cover;
  background-position: top left;
  height: 94px; 
  width: 94px;
  position: fixed; 
  top: 0;
  margin-top: 20px;
  left: 0;
}
.background-image-right{
  background-image: url('https://img.poki.com/cdn-cgi/image/quality=78,width=94,height=94,fit=cover,f=auto/254ea214ff9f26ca1ae2d872021643dd.png');
  background-size: cover;
  background-position: top right;
  height: 94px; 
  width: 94px;
  position: fixed; 
  top: 0;
  right: 0;
  margin: 20px; /* Adjust margin as needed */
}
